
body{
	margin: 0;
	font-family: Helvetica Neue;
	font-weight: 300;

	position: relative;
}

#logo-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;

	user-select: none;
}

#comp-logo{
	font-family: Courier;
	font-weight: 300;
	display: flex;

	text-align: center;

	padding: 0;
	margin: 0;

	transform: rotate(-1deg);
}

#cursor{
	font-size: 65px;
	font-weight: 900;
}

#comp-name{
	display: inline-block;
	vertical-align: middle;
	font-size: 65px;
	/* margin-left: -20px; */
}

#comp-icon{
	height: 80px;
	object-fit: contain;
	display: inline-block;
	vertical-align: middle;

	animation: fade-in 3s;

	pointer-events: none;
}


#btn-cto{
	position: absolute;

	left: 0;
	right: 0;
	margin: auto;
	width: 8em;
	text-align: center;

	font-size: 12px;

	bottom:25vh;
	color: #999;
	text-decoration: none;
	padding: 10px 10px;
	border: 1px solid #999;
	border-radius: 10px;


	opacity: 0;
	animation: fade-in 2s forwards;
	animation-delay: 2s;

	transition: all 0.5s;
}

blink{
	opacity: 0;
	animation: blink 1s infinite;
}

@media only screen and (max-width: 475px){
	#comp-logo{
		flex-direction: column;
		margin-top: -2em;
	}

	#comp-icon{
		transition: all 1s;
	}

	blink{
		display: none;
		animation: none;
	}
}

#btn-cto:hover{
	background: #2865dd;
	border-color: #2865dd;
	color: white;
	transform: scale(1.05);
}

@keyframes blink{
	0% {
    	opacity: 0;
	}
	49% {
	    opacity: 1;
	}
	50% {
	    opacity: 1;
	}
}

@keyframes fade-in{
	from{
		opacity: 0;
	}

	to{
		opacity: 100;
	}
}
