<!DOCTYPE html>
<html>
<head>
	<title>SoBadUI - Inicio</title>
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/home.css' | relative_url }}">
	<script src="{{ '/assets/js/animations.js' | relative_url }}"></script>
</head>
<body>
	<div id="logo-container">
		<h1 id="comp-logo">
			<img id="comp-icon" src="{{'assets/img/SoBadUI-1.svg' | relative_url}}">
			<span id="comp-name"></span>
			<noscript>SoBadUI</noscript>
		</h1>
	</div>
	<a id="btn-cto" href="#">Nuestro Portfolio</a>
</body>
</html>